/* Local styles */

:root {
    --default-font-family: system-ui,-apple-system,"Segoe UI",Roboto,Ubuntu,Cantarell,"Noto Sans",BlinkMacSystemFont,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --default-monospace-font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --default-font-size: 15px;
}

h2, h3, h4 {
   margin-block-start: 1.5rem;
   margin-block-end: 1rem;
}
